/**
* Basic icon styles. Allows you to easily render sprite icons.
*
* .aui-icon must be present on all iconified elements
* All iconified elements must include class names prefixed with 'i-'
* Icons assume light backgrounds. Icon classnames for dark backgrounds must be suffixed with '-d'
* For elements whose background changes in app, we advise maintaining light/dark state in the app.
*
*/

.aui-icon {
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: -999em;
    vertical-align: text-bottom;
    width: 16px;
}

.icon-move,
.icon-move-d,
.icon-dropdown,
.icon-dropdown-d,
.icon-dropdown-active,
.icon-dropdown-active-d,
.icon-minimize,
.icon-minimize-d,
.icon-maximize,
.icon-maximize-d {
    background-repeat: no-repeat;
}

.aui-icon.icon-move,
.aui-icon.icon-move-d,
.aui-icon.icon-dropdown,
.aui-icon.icon-dropdown-d,
.aui-icon.icon-dropdown-active,
.aui-icon.icon-dropdown-active-d,
.aui-icon.icon-minimize,
.aui-icon.icon-minimize-d,
.aui-icon.icon-maximize,
.aui-icon.icon-maximize-d {
    background-position: 0 0 !important; /* This is for legacy support */
    height: 13px;
    vertical-align: baseline;
    width: 13px;
}

.aui-icon.icon-close,
.aui-icon.icon-error,
.aui-icon.icon-generic,
.aui-icon.icon-hint,
.aui-icon.icon-info,
.aui-icon.icon-success,
.aui-icon.icon-warning {
    background-position: 0 0 !important; /* This is for legacy support */
    height: 14px;
    vertical-align: baseline;
    width: 14px;
}

.aui-icon.icon-close {
    height: 12px;
    width: 12px;
}


/* Core icons */
.icon-move {
    /* icon-move.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAPUlEQVR42rWRMQoAMAjE+v9P29syBeFKs50YVDzGBKmbACKZACIV69G0ZqQJqwQJBcWk8iYD6eufTHha7wLFyOcZBIC2HgAAAABJRU5ErkJggg==);
    cursor: move;
}
.icon-move-d {
    /* icon-move-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANAQMAAABIJXY/AAAABlBMVEUAAABtbW0GOOmzAAAAAXRSTlMAQObYZgAAACZJREFUCFtjYGJgYGdg4G9gADKUFBiSDBj+/wCRQDYTWBwoy8QAAF4LBNTKhGdbAAAAAElFTkSuQmCC);
    cursor: move;
}
.icon-dropdown {
    /* icon-dropdown.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAANUlEQVQoz2NgIBH8//8fziAKwDX9h2slypb/A6gJn1/w2oRLA0HnYdMwCAKCaE1kpQhy0h4AvZXuEh7/K88AAAAASUVORK5CYII=);
}
.icon-dropdown-d {
    /* icon-dropdown-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAOElEQVQoz2NgIBH8//8fwsjNzf1PDIZrgnGIASC1A6gJn1/w2oRLA0HnYdMwCAKCaE1kpQhy0h4AVz6Yhl8Qyr8AAAAASUVORK5CYII=);
}
.icon-dropdown-active {
    /* icon-dropdown-active.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAMElEQVQoz2NgIBH8//8fziAKwDX9Jx0MlCY8nsdvEwENuJ2HR8P/oRB6ZKUIctIeACdj9RnXT1HMAAAAAElFTkSuQmCC);
}
.icon-dropdown-active-d {
    /* icon-dropdown-active-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAANklEQVQokWNgIBH8//8fwsjNzf1PDIZrIlYDDA+gJlyeJ2gTPg14nYdLwwAHBNGayEoR5KQ9AH2/LqGCzCmZAAAAAElFTkSuQmCC);
}
.icon-minimize {
    /* icon-minimize.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAJ0lEQVQoz2NgIBH8//8fziAKwDX9Jx3QWxMJgTCqCUUTWSmCnLQHAMrBNdnApUZIAAAAAElFTkSuQmCC);
}
.icon-minimize-d {
    /* icon-minimize-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAALElEQVQoz2NgIBH8//8fwsjNzf1PDIZrIlYDDA+AJmIDYVQTuiayUgQ5aQ8AKzrBcoqP7AUAAAAASUVORK5CYII=);
}
.icon-maximize {
    /* icon-maximize.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAMklEQVR42r3LMQoAAAhCUe9/aVulIZSivyk8pJFsh9EdwtAO0egOYUhxhHR/I6OO7BQVFiAd8RJdftsAAAAASUVORK5CYII=);
}
.icon-maximize-d {
    /* icon-maximize-d.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAOElEQVQokWNgIBH8//8fVSA3N/c/IUw9TficRpkmYpxEPU2EnIQREMRoQuYPgCZiAwKuiVQA0gQAtaqzzogsN8sAAAAASUVORK5CYII=);
}


/* Form icons */
form.aui .icon-date,
.aui-icon-date {
    /* icon-date.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAATUlEQVQ4jWP4//8/AyWYYemypf/JxV6+Xv8ZIAzcmD4GwMC1y9dIYlPPAJAgPrwUqBAZw8SJdgFIEzY29QyguRcGPhZw4UHiBRBBCQYAZnc0tnd/GN8AAAAASUVORK5CYII=);
}
form.aui .icon-range,
.aui-icon-range {
    /* icon-range.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAb0lEQVR42sVSQQrAMAjrQysbY0+0rxn0Kx0pjDDBg9gxIRgVQywt6dCmw4Va/kbd6igYyOmDC55AWyDwRL96hK8SUEVzoh01BOsAzRCXXVICdEBbX57AR0ycQIHwCVi0gIOfP9J0ABUQZMtZM9vZDWwN8/Lkq7qmAAAAAElFTkSuQmCC);
}
form.aui .icon-required,
.aui-icon-required {
    /* icon-required.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAV0lEQVQYV2NgoBq4dvna/6W+Xv+vb1j/H0Xi7e3b/4/19YAlQApAbBgfrAAmgY5BiuCm/Pz8+f/WpBi4JMg6FGvOL5gH1wWitxfmYXcHyCSQlRgOHewAAOFhWxHuxtuOAAAAAElFTkSuQmCC);
    width: 8px;
}
form.aui .icon-users,
.aui-icon-users {
    /* icon-users.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAb1BMVEUAAAAABkMApwYCSqsDG2IFGlsVV7AYSEYZLW4ejzckMjUlW6wqS10stDYxPXI0abg7SHdGdb1Js1NKTUpRca1SNjhTfcFUPkVUQU1cX1xdg8JkTk9ni8d1lcyHo9LOkjbUo1v/qgD/rxD/tCf/vEWHNO/lAAAAAXRSTlMAQObYZgAAAIVJREFUGFeFjMkSgjAQRGkiEBJCFjUq+5L//0YzCCUHq+zbez3TSfIjBrVB9UK7c21uPHOFmNrnR6DxEq5EGLFfcHnJSiHG++P4Aa9QXI8NnEM8DH3XeAunEAJIRLZWQ0Wxkug7b7XOoVKsCwlimTOkKZaZBBD5vJpAsq2fqd8E+yu+ifQGSO8HqnZE9JsAAAAASUVORK5CYII=);
}
form.aui .icon-help,
.aui-icon-help,
form.aui .icon-inline-help,
.aui-icon-inline-help {
    /* icon-help.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB4klEQVR42p2Rz0uTcRzHv8es7IdNq43JUCtzj8+eZ6vLBkEjZMHcoUE/ZEYaZIFRFmkZBP0BXTp4kQ6d7DAvSpd1iB3C3aQiZLBWCIsJkyGDxRjj3ef93UkYOPvAi+fz/bxf79OjWk0g0I1WqL2G0vyzCL6+uwT8vAL8ihDuvOmMTuuy34HGRgiN7Sdo1OfQKI8J44Q7b8y0Q3dX2W87UP8eRP3vI2EeOz/i8NtOwUW488aMjnbZaZatE8i8CaC2c094KryC33IKLtQKdwh33pjRoas77Crb14Vqxka1dFeYEV6i+jtBZH+tv7bPSZjRoas77CrLPI5KehiVQkKYEmaEWeE5KtnrsMxTmq0vUWZ06OoOu8oyjqKcOo9yPi6MCZPCA5S/xWAZPZo/n0fkdp8ZHbq6w67yeY/g04uzKK1FUdoYFa4JN4XbwqQwIYwLN5jRoas77CqOOdSJ4nI/iukRFNfJVSEGc+gYkT0qRJjR0S47u36lOXgYHx97UPggpC6jkAkjlzQEr7zDzduSRzt0VasZPncI07cGsfqwF5vpYJOVEDbf92J12q0zOmqvMc4cRD51AfnkReQXXeCbqHbHGOhAbslGbuE0uKv9jre/A9m3J8Gv+p+Zirnh7TvQVvkfb7qzb6qHSv0AAAAASUVORK5CYII=);
    cursor: help;
}


/* Message icons */
.aui-message .icon-generic,
.aui-icon-generic {
    /* icon-generic.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAyUlEQVR42p2SuwqEMBAA79P8RFsf4IEKFhZBRQsbCwvxp/YywVyChhzcwhSXnREO9uVPlmWJRmnkhmJ3OQY/Stu2lXVd5TxPH/PGTjtv/duFPIzjyOLBPM9yHIfhclJCoqRpGtn33Yj++DF7wKUhVNM0ybZtwZCxMQ4uDSH/AYKh5e6ZcFkWsGFwPM+FwzBAPHSeC/u+h2h49whVXdfSdd3PEAeXhjApisI+RMHBpfleTVmWUlVVFBzcx8nlec4Xg7DDsSf395F/AA9oH+35UWWrAAAAAElFTkSuQmCC);
}
.aui-message .icon-error,
.aui-icon-error {
    /* icon-error.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAPFBMVEUAAADMAADMAADNAQHOAgLQBATUCAjWCgrbDw/gFBTlGRnpHR3sICDyJib0KCj2Kir5LS38MDD/MzP///8cTt1PAAAAAnRSTlMAUB34nMwAAABVSURBVHjaTc9JEoAgEENROiCjiOj972roopC3+6tUDAmUGCWhP9SDaPl2q+ZlVL2mysa5gUHBUpgZ74TMTH8mZsQSmWEDI84vbgzbY7IsNpwCi/YLH1nvBPdQibzwAAAAAElFTkSuQmCC);
}
.aui-message .icon-hint,
.aui-icon-hint {
    /* icon-hint.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA3ElEQVR42p2SwQqCQBCG59F6s17Bo1FIGCJEwYrgxUsHT3bv2CP0CpPflLu4ZkELP4zz/58O68jkpOlqkBukkRzeO4MmUCJFoXI8xpD1Bo96L30fQGvUtYpzFjzf7zoeaoPxyPABQBvhcFDpuhiaw2TIwjC/velyMXPp4JEha4w12hZ9BePcC2wa9GPUkAtgVaHx5vT2eHiImh6ez3nwdPLieX29epA6ynjQSZ6rlCWi+UnBJwtjV7vd0kBL/9H7ZGHC1ux2Klm2COKRITtfuc1G0WzM0E/8yv275E+v+8fi9dT4TgAAAABJRU5ErkJggg==);
}
.aui-message .icon-info,
.aui-icon-info {
    /* icon-info.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA9UlEQVR42p2STUoDQRSE62g5jYb4RyAixIUEQbIQGRAEdx5hDmJCogZBEcwiBEFcBBEEoZx6UMjr2TnwDc2r+uhmppGerdtOQ93AglqZKiRFkirs3hFn78TVD3FNoXXMlDWdmyRqgP0HovoiLr+JoxfvpLVmkamjDUKMI+zMifMNcfEpQvATsufqqCsnzn+8JMYfphRzpq6cCEZr4vTtj4OFj6p1ztTVPF4nq4Ql084tDl8T5VHbucXBE3H4bEoxZeparLF3T/QfTSnmTF058Wm3J/pHphRzpq4c35oY9Gai/DieW6raV04lhd2pMBZoSfz7kv8CXLivOpR92bMAAAAASUVORK5CYII=);
}
.aui-message .icon-success,
.aui-icon-success {
    /* icon-success.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAu0lEQVR42p2SwQpBQRSGvdMhIkRKykLJymZW3gkRuSIlZaFkZWPlnYZ/bjP/3DrkOvU1nXP+r7lTtyBTMW9sTgxEK9ehlefkJ5CFk4oP851TD2Gcrqd4H3/m2HVBlM9SvI10Dp0goXyW4mVgZdfCAGemj8tnKZ772c/ZNlUJc2Qp8h0oXdrUkXNQ3LcZZlFaVZEJUEwaVpYV/SbMsSeRuK6lLMrxW9FzR4KIAJmXsMCJXoXirJgLOH//5C99+MSSbb9iIgAAAABJRU5ErkJggg==);
}
.aui-message .icon-warning,
.aui-icon-warning {
    /* icon-warning.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA6UlEQVR42o2QvQ4BURCFr5+QECGhoMGbeAWP4hEkOpXWX2wQUdColB5hH4FCr1Ef98xmcu3dJXuTk50753w7s2vSDuamYTWiWMc8gPoJhTjUQLFmLws4w66Cb7Hngz7UxzIvYT2s2aP3D7zh3EqA7NHzQYWGWBeBa88HpUePmTTwjlMTuHR8UHr0mFFQoTE2JVnp56oUM8wSxPs5sJeX/PpjPdLWEKCk1j4zzJLhtEDetK+qdKqb5jydGhCMLkFZlVzVeQoiAleFmHzQ9xUMBV7kVPwetypr5wlExthL1xZT+3xkkc1OrNofI4u3sOtBa1YAAAAASUVORK5CYII=);
}
.aui-message .icon-close,
.aui-icon-close {
    /* icon-close.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAArklEQVR42pVSQQqDMBD0MX20MQ1ptUikEZpAqLnUkzf/tO1EGlK2FiosM7szoyRrJYQ4eO8JVe08bx3e1KzrSjFG0lqzEGbQ4IE3BUIItCwL8CMEXmrwZsG5G83zIyH6bzP2aWstTdMdWHJuLkPDYMh7hwJnZhbo+wuN4xUF/vvtbXsmY3pgyXloO6Sirjsl3Ho+y0tRSr4GRyC71lLLe5CypqapdxcHDR54//41npGXGdrjiq79AAAAAElFTkSuQmCC);
}

/* Override for required icons in forms */
form.aui legend span.icon-required {
    left: auto;
    position: relative;
    top: auto;
}


