.tipsy {
    font-size: 12px;
    line-height: 20px;
    font-family: sans-serif;
    padding: 4px;
}

.tipsy-inner {
    background: rgba(51, 51, 51, 0.9);
    padding: 5px 10px;
}

.tipsy-arrow {
    border-color: rgba(51, 51, 51, 0.9);
    border-width: 4px;
}

.tipsy-arrow-n {
    border-bottom-color: #333;
    border-bottom-color: rgba(51, 51, 51, 0.9);
    margin-left: -4px;
}

.tipsy-arrow-s {
    border-top-color: #333;
    border-top-color: rgba(51, 51, 51, 0.9);
    margin-left: -4px;
}

.tipsy-arrow-e {
    border-left-color: #333;
    border-left-color: rgba(51, 51, 51, 0.9);
    margin-top: -4px;
}

.tipsy-arrow-w {
    border-right-color: #333;
    border-right-color: rgba(51, 51, 51, 0.9);
    margin-top: -4px;
}

.tipsy a,
.tipsy a:visited {
    color: white;
    text-decoration: underline;
}
